---
import {Image} from "astro:assets"
import DefaultPage from "../layouts/DefaultPage.astro"
import MyPhoto from "../assets/me.png"
import MyPhoto2 from "../assets/me2.jpg"
import workMetroui from "../assets/works/metroui.jpg"
import workMinataur from "../assets/works/minataur.jpg"
import workKorzh from "../assets/works/korzh.jpg"
import workCrypto from "../assets/works/cryptoscamalert.jpg"
import workPandora from "../assets/works/pandora.jpg"
import workReserve from "../assets/works/reserve-plus.jpg"
import workPethealth from "../assets/works/pethealth.jpg"
import workMinaMonitor from "../assets/works/mina-monitor.jpg"
import workAiki from "../assets/works/aiki.jpg"
import workEasyTest from "../assets/works/easytest.jpg"
---
<DefaultPage title="Сайт Сергія Піменова">
	<div class="container-fluid">
        <div class="container">
            <div class="hero">
                <div class="row" style="--grid-gutter: 40px;">
                    <div class="cell-md-6 d-flex flex-justify-center flex-column order-2-fs order-1-md">
                        <h1 class="text-header">Сергій Піменов</h1>
                        <div class="text-subheader mt-6 mb-6">
                            <div>Я інженер-програміст захопленний <span class="fg-orange test-bold">веб-розробкою</span> та проектами з відкритим кодом.</div>
                        </div>
                        <div class="d-flex flex-row-md flex-column-fs flex-no-wrap h5">
                            <div class="d-flex">
                                <div data-role="typer" data-cursor="&block;" data-delete-delay=3000 data-splitter=";" class="text-bold fg-red">
                                    Розробка сайтів (Full Stack);
                                    Розробка бібліотек веб компонентів;
                                    Програмування на JavaScript та TypeScript;
                                    Супровід сайтів;
                                    Консультую щодо розробки сайтів;
                                    Допомагаю контролювати виконання ТЗ;
                                    Розміщення на сервері та супровід сайтів
                                </div>
                            </div>
                        </div>
                        <div class="mt-6">
                            <a href="/files/pimenov.cv.pdf" class="button warning rounded">Резюме Українською</a>
                            <a href="/files/pimenov.cv.en.pdf" class="button warning rounded">English CV</a>
                        </div>
                        <div class="mt-6">
                            [ Відкритий для пропозицій роботи ]
                        </div>
                    </div>
                    <div class="cell-md-6 d-flex flex-align-center flex-justify-center order-1-fs order-2-md">
                        <div class="my-hero-photo">
                            <Image src={MyPhoto} alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid accent-block" id="_about">
        <div class="container pt-20 pb-20">
            <div class="row">
                <div class="cell-lg-4 d-flex flex-align-center flex-justify-center">
                    <div class="box-photo">
                        <Image src={MyPhoto2} alt=""/>
                    </div>
                </div>
                <div class="cell-lg-7 pl-10-lg">
                    <div class="section-header about">
                        <div class="text-upper text-bold">[ Про <span class="fg-orange">мене</span> ]</div>
                    </div>
                    <div class="mt-6">
                        Привіт! Мене звати Сергій Піменов. Я веб-розробник із Києва, Україна і я дуже захоплений і відданий своїй роботі.
                        <div class="mt-4">Я маю більш ніж 25-річний досвід роботи програмістом і понад 10 з них це професійна веб-розробка.</div>
                        <div class="remark border-radius-20">
                            <div>
                                <ul class="my-data reduce-2 p-0">
                                    <li><label style="width: 80px;">Вік:</label> <span id="_age">{new Date().getFullYear() - 1972}</span></li>
                                    <li><label style="width: 80px;">Місто:</label> Київ, Україна</li>
                                    <li><label style="width: 80px;">Хобі:</label> Собаки, Стрільба, Музика, Фантастика</li>
                                    <li><label style="width: 80px;">Освіта:</label> Бакалавр права, Taurida Institute of MCL</li>
                                </ul>
                            </div>
                        </div>
                        <div class="mt-4">Зараз я спеціалізуюся на створенні веб-компонентів за допомогою HTML, JavaScript і CSS а також сайтів з використанням Astro та Metro UI.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="_services">
        <div class="container pt-20 pb-20">
            <div>
                <div class="section-header services">
                    <div class="text-upper text-bold">[ МОЇ <span class="fg-orange">ПОСЛУГИ</span> ]</div>
                </div>
            </div>
            <div class="row mt-6" style="--grid-gutter: 40px;">
                <div class="cell-lg-4">
                    <div class="service-box">
                        <div class="service-box-inner">
                            <div class="service-icon"><span class="mif-designing"></span></div>
                            <div class="service-title">Веб Розробка</div>
                            <div class="service-desc">Розробка сайтів, компонентів сайтів, бібліотек веб компонентів.</div>
                        </div>
                    </div>
                </div>
                <div class="cell-lg-4">
                    <div class="service-box">
                        <div class="service-box-inner">
                            <div class="service-icon"><span class="mif-support_agent"></span></div>
                            <div class="service-title">Консалтінг</div>
                            <div class="service-desc">Консультації щодо розробки та супроводу сайтів, контроль виконання ТЗ.</div>
                        </div>
                    </div>
                </div>
                <div class="cell-lg-4">
                    <div class="service-box">
                        <div class="service-box-inner">
                            <div class="service-icon"><span class="mif-roofing"></span></div>
                            <div class="service-title">Хостінг</div>
                            <div class="service-desc">Публікація сайтів на довіреному хостингу, обслуговування сайту.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-20 mb-20 accent-block" id="_skills">
        <div class="container pt-10 pb-10">
            <div class="section-header services">
                <div class="text-upper text-bold text-center">[ МОЇ <span class="fg-orange">НАВИЧКИ</span> ]</div>
            </div>
            <div class="row flex-justify-center mt-6">
                <div class="skill"></div>
                <div class="skill" title="javascript">
                    <span class="mif-javascript fg-orange"></span>
                </div>
                <div class="skill"></div>
                <div class="skill" title="git">
                    <img src="/images/Git.svg" />
                </div>
                <div class="skill"></div>
                <div class="skill" title="typescript">
                    <span class="mif-typescript fg-teal"></span>
                </div>
                <div class="skill" title="rollup">
                    <img src="/images/Rollup.js.svg" />
                </div>
                <div class="skill"></div>
                <div class="skill"></div>
                <div class="skill" title="sql">
                    <span class="mif-sql"></span>
                </div>
                <div class="skill"></div>
                <div class="skill"></div>
                <div class="skill" title="mysql">
                    <span class="mif-mysql fg-cyan"></span>
                </div>
                <div class="skill" title="jquery та m4q">
                    <img src="/images/jQuery.svg" />
                </div>
                <div class="skill"></div>
                <div class="skill" title="Node.js">
                    <img src="/images/Node.js.svg" />
                </div>
                <div class="skill"></div>
                <div class="skill" title="graphql">
                    <span class="mif-graphql fg-pink"></span>
                </div>
                <div class="skill" title="webpack">
                    <img src="/images/Windows%2011.svg" />
                </div>
                <div class="skill"></div>
                <div class="skill" title="webpack">
                    <img src="/images/Linux.svg" />
                </div>
                <div class="skill" title="webpack">
                    <img src="/images/Webpack.svg" />
                </div>
                <div class="skill"></div>
                <div class="skill" title="PostgreSQL">
                    <span class="mif-postgresql fg-cyan"></span>
                </div>
                <div class="skill"></div>
                <div class="skill" title="Html5">
                    <span class="mif-html5 fg-red"></span>
                </div>
                <div class="skill"></div>
                <div class="skill" title="Bash">
                    <img src="/images/Bash.svg" />
                </div>
                <div class="skill"></div>
                <div class="skill" title="Angular">
                    <img src="/images/Angular.svg" />
                </div>
                <div class="skill"></div>
                <div class="skill" title="React">
                    <img src="/images/React.svg" />
                </div>
                <div class="skill"></div>
                <div class="skill" title="Rust">
                    <img src="/images/Rust.svg" />
                </div>
                <div class="skill"></div>
                <div class="skill" title="Astro.build">
                    <img src="/images/Astro.svg" />
                </div>
                <div class="skill"></div>
                <div class="skill" title="Css3">
                    <span class="mif-css3 fg-green"></span>
                </div>
                <div class="skill" title="Less">
                    <img src="/images/Less.js.svg" />
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-20 mb-20" id="_projects">
        <div class="container">
            <div class="section-header services">
                <div class="text-upper text-bold text-center">[ МОЇ <span class="fg-orange">ПРОЕКТИ</span> ]</div>
            </div>
            <div class="text-center pl-20-md pr-20-md mt-6 mb-6">
                Я насолоджуюся кожним етапом процесу розробки, від обговорення концепції до безпосереднього виконання, але найбільше задоволення я отримую, коли бачу, як готовий продукт робить для вас усе, для чого він був створений.
            </div>
            <div class="text-center reduce-2 text-muted">
                Нижче наведені приклади моїх робот
            </div>
            <div class="row mt-10" style="--grid-gutter: 20px;">
                <div class="cell-md-3 cell-sm-6">
                    <div class="work-preview">
                        <div class="work-title">Pet проект (Metro UI)</div>
                        <a href="https://metroui.org.ua">
                            <Image src={workMetroui} alt="Metroui.org.ua" style="width: 100%; height: auto;"/>
                        </a>
                    </div>
                    <div class="arrow"><span class="mif-arrow-right mif-4x"></span></div>
                </div>
                <div class="cell-md-3 cell-sm-6">
                    <div class="work-preview">
                        <div class="work-title">Minataur.net</div>
                        <a href="https://minataur.net">
                            <Image src={workMinataur} alt="Minataur.net" style="width: 100%; height: auto;"/>
                        </a>
                    </div>
                    <div class="arrow"><span class="mif-arrow-right mif-4x"></span></div>
                </div>
                <div class="cell-md-3 cell-sm-6">
                    <div class="work-preview">
                        <div class="work-title">Korzh.com</div>
                        <a href="https://korzh.com">
                            <Image src={workKorzh} alt="Korzh.com" style="width: 100%; height: auto;"/>
                        </a>
                    </div>
                    <div class="arrow"><span class="mif-arrow-right mif-4x"></span></div>
                </div>
                <div class="cell-md-3 cell-sm-6">
                    <div class="work-preview">
                        <div class="work-title">CryptoScamAlert.com</div>
                        <a href="https://cryptoscamalert.com">
                            <Image src={workCrypto} alt="Korzh.com" style="width: 100%; height: auto;"/>
                        </a>
                    </div>
                    <div class="arrow"><span class="mif-arrow-right mif-4x"></span></div>
                </div>
                <div class="cell-md-3 cell-sm-6">
                    <div class="work-preview">
                        <div class="work-title">Pandora (Шаблон)</div>
                        <a href="https://themes.org.ua/pandora">
                            <Image src={workPandora} alt="Pandora" style="width: 100%; height: auto;"/>
                        </a>
                    </div>
                    <div class="arrow"><span class="mif-arrow-right mif-4x"></span></div>
                </div>
                <div class="cell-md-3 cell-sm-6">
                    <div class="work-preview">
                        <div class="work-title">Резерв+ (Site)</div>
                        <a href="https://reserveplus.mod.gov.ua/">
                            <Image src={workReserve} alt="Korzh.com" style="width: 100%; height: auto;"/>
                        </a>
                    </div>
                    <div class="arrow"><span class="mif-arrow-right mif-4x"></span></div>
                </div>
                <div class="cell-md-3 cell-sm-6">
                    <div class="work-preview">
                        <div class="work-title">Сайт ветклініки</div>
                        <a href="https://pethealth.com.ua/">
                            <Image src={workPethealth} alt="Pethealth.com.ua" style="width: 100%; height: auto;"/>
                        </a>
                    </div>
                    <div class="arrow"><span class="mif-arrow-right mif-4x"></span></div>
                </div>
                <div class="cell-md-3 cell-sm-6">
                    <div class="work-preview">
                        <div class="work-title">Mina Monitor</div>
                        <a href="https://github.com/olton/mina-node-monitor">
                            <Image src={workMinaMonitor} alt="Mina Monitor" style="width: 100%; height: auto;"/>
                        </a>
                    </div>
                    <div class="arrow"><span class="mif-arrow-right mif-4x"></span></div>
                </div>
                <div class="cell-md-3 cell-sm-6">
                    <div class="work-preview">
                        <div class="work-title">Aiki.in.ua</div>
                        <a href="https://aiki.in.ua">
                            <Image src={workAiki} alt="Aiki.in.ua" style="width: 100%; height: auto;"/>
                        </a>
                    </div>
                    <div class="arrow"><span class="mif-arrow-right mif-4x"></span></div>
                </div>
                <div class="cell-md-3 cell-sm-6">
                    <div class="work-preview">
                        <div class="work-title">EasyTest</div>
                        <a href="https://easy.org.ua">
                            <Image src={workEasyTest} alt="Easy.org.ua" style="width: 100%; height: auto;"/>
                        </a>
                    </div>
                    <div class="arrow"><span class="mif-arrow-right mif-4x"></span></div>
                </div>
                <div class="cell-md-3 cell-sm-6 border bd-orange border-radius-20 no-overflow d-flex flex-align-center flex-justify-center">
                    <div class="p-10">Більше проектів на <a href="https://github.com/olton">GitHub<span>...</span></a></div>
                </div>
                <div class="cell-md-3 cell-sm-6 border bd-orange border-radius-20 no-overflow d-flex flex-align-center flex-justify-center">
                    <div class="p-10">Можливо Ваш сайт буде наступним?...</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid accent-block" id="_contacts">
        <div class="container pt-10 pb-10">
            <div class="row">
                <div class="cell-md-6">
                    <div>
                        <div class="section-header services">
                            <div class="ml-4 reduce-2 text-upper text-bold">МОЇ <span class="fg-orange">КОНТАКТИ</span></div>
                        </div>
                        <ul class="my-data">
                            <li><label>Email:</label> <a href="mailto:serhii@pimenov.com.ua" class="fg-dark">serhii@pimenov.com.ua</a></li>
                            <li><label>Telegram:</label> <a href="https://t.me/serhii_pimenov" class="fg-dark">@serhii_pimenov</a></li>
                            <li><label>CodersRank:</label> <a href="https://profile.codersrank.io/user/olton/" class="fg-dark">#olton</a></li>
                            <li><label>GitHub:</label> <a href="https://github.com/olton/" class="fg-dark">github.com/olton</a></li>
                            <li><label>Linkedin:</label> <a href="https://www.linkedin.com/in/spimenov/" class="fg-dark">spimenov</a></li>
                            <li><label>Телефон:</label> <a href="tel:+380635022967" class="fg-dark">+380635022967</a></li>
                        </ul>
                    </div>
                </div>
                <div class="cell-md-6 text-center-fs text-right-md">
                    <img src="/images/artworks-2d49337a.jpg" alt="" style="height: 200px;" class="border-radius-20 border bd-orange" />
                </div>
            </div>
        </div>
    </div>
</DefaultPage>
